* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




button {
    text-decoration: none;
    /* Remove sublinhado dos links */
    color: rgb(253, 10, 156);
    /* Cor do texto */
    font-size: 30px;
    padding: 10px;
    transition: color 0.3s ease-in-out;
    /* Transição suave */
    border-radius: 20px;
    background-color: transparent;
    max-height: 20vh;
}

button:hover {
    background-color: #ffc1ea;
    /* Cor de fundo ao passar o mouse */
    color: white;
    /* Cor do texto ao passar o mouse */
    font-weight: bold;

}









article {
    display: flex;
    align-items: center;
    top: 0;
    font-size: 30px;
    width: 40vw;
    margin-left: 30px;
    color: aliceblue;
    font-family: "Satisfy", cursive;
    justify-content: left;
}


.imagem_fundo {
    position: fixed;
    top: 0;
    width: 100vw;
    background-image: cover;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
}

a {
    font-size: 50px;
    font-family: "Satisfy", cursive;
    margin-left: 100px;

}


/* Adiciona responsividade */
@media (max-width: 768px) {
    a {
        font-size: 20px;
        /* Menor fonte em telas menores */
    }

    header {
        flex-direction: column;
        /* Alinha verticalmente em telas menores */
    }
}